In [11]:
import numpy as np
import pandas as pd
rubber = [1,100]
wood = [11]
glass = [50,90]
ALu =[69]
np.random.randint(1,100,10000)

array([50, 36, 88, 26, 65, 28, 17, 84, 92, 42])

In [45]:
data = pd.DataFrame({})
data['E'] = [*np.random.randint(1,100,10000)*0.001,*[11]*10000,* np.random.randint(50,90,10000) ,*[69]*10000]
data['F'] = np.random.randint(1,40000,40000)
data['L'] = np.random.randint(1,10,40000)
data['A'] = np.random.randint(10,10000,40000)

In [48]:
data['dL'] = data['F']*data['L']/(data['A']*data['E'])
data

            E      F  L     A          dL
0       0.054  37189  6  6258  660.292603
1       0.090  38279  9  6802  562.760953
2       0.099  13264  7  5257  178.401861
3       0.059  23816  3  8580  141.140216
4       0.091  28031  7  8606  250.549706
...       ...    ... ..   ...         ...
39995  69.000  38222  8   958    4.625821
39996  69.000  34835  8  8424    0.479445
39997  69.000  28893  5  5922    0.353545
39998  69.000   8928  4  7103    0.072866
39999  69.000   9729  8  8518    0.132425

[40000 rows x 5 columns]

In [50]:
data['materials']=[*['고무']*10000,*['나무']*10000,*['유리']*10000,*['알루미늄']*10000]

In [53]:
data['mat']=data['materials'].apply(lambda x : np.where(x =='고무',1,np.where(x=='나무',2,np.where(x=='유리',3,4))))

In [56]:
data.to_csv('yong_Data.csv',index=False)