In [99]:
import pandas as pd 
import numpy as np
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction import *
from sklearn.metrics.pairwise import cosine_similarity # 사이킷 런에서 코사인 유사도 함수 import 
from sklearn.feature_extraction.text import *

In [100]:
ratings = pd.read_csv("ratings.csv")
movies = pd.read_csv("movies.csv")

In [101]:
movies['genres'] = movies['genres'].apply(lambda x :x.replace('|',' '))
Id_year=movies[movies['title'].str.contains('[(0_9)]+')].iloc[:,:2]
Id_year['years'] = Id_year['title'].str.split().apply(lambda x:x[-1])

In [102]:
Id_year=Id_year.drop(columns='title')

In [103]:
Id_genres = movies[['movieId','genres']]

In [104]:
Id_genres['title'] = np.where(movies['title'].str.contains('[(0_9)]+'),movies['title'].str.split().apply(lambda x:x[:-1]).apply(' '.join),movies['title'])

In [105]:
new_movies = pd.merge(Id_genres,Id_year,on= 'movieId',how='outer')
new_movies

,movieId,genres,title,years
0,1,Adventure Animation Children Comedy Fantasy,Toy Story,(1995)
1,2,Adventure Children Fantasy,Jumanji,(1995)
2,3,Comedy Romance,Grumpier Old Men,(1995)
3,4,Comedy Drama Romance,Waiting to Exhale,(1995)
4,5,Comedy,Father of the Bride Part II,(1995)
...,...,...,...,...
9120,162672,Adventure Drama Romance,Mohenjo Daro,(2016)
9121,163056,Action Adventure Fantasy Sci-Fi,Shin Godzilla,(2016)
9122,163949,Documentary,The Beatles: Eight Days a Week - The Touring Y...,(2016)
9123,164977,Comedy,The Gay Desperado,(1936)
9124,164979,Documentary,"Women of '69,",Unboxed

In [106]:
new_movies['years'].fillna('Unknown',inplace= True)

In [107]:
data = pd.merge(ratings,new_movies,on='movieId')
data

,userId,movieId,rating,timestamp,genres,title,years
0,1,31,2.5,1260759144,Drama,Dangerous Minds,(1995)
1,7,31,3.0,851868750,Drama,Dangerous Minds,(1995)
2,31,31,4.0,1273541953,Drama,Dangerous Minds,(1995)
3,32,31,4.0,834828440,Drama,Dangerous Minds,(1995)
4,36,31,3.0,847057202,Drama,Dangerous Minds,(1995)
...,...,...,...,...,...,...,...
99999,664,64997,2.5,1343761859,Action Sci-Fi,War of the Worlds,(2005)
100000,664,72380,3.5,1344435977,Drama Horror Mystery Sci-Fi Thriller,"Box, The",(2009)
100001,665,129,3.0,995232528,Comedy Romance,Pie in the Sky,(1996)
100002,665,4736,1.0,1010197684,Comedy Drama Romance,Summer Catch,(2001)
100003,668,6425,1.0,993613478,Comedy,"6th Man, The (Sixth Man, The)",(1997)

In [108]:
movie_data = data.pivot_table('rating',index='movieId',columns='userId').fillna(0)

In [121]:
movie_data.shape

(9066, 671)

In [109]:
gen = CountVectorizer(ngram_range=(1,3))
c_gen = gen.fit_transform(new_movies['genres'])

In [110]:
gen.vocabulary_

{'adventure': 92,
 'animation': 176,
 'children': 227,
 'comedy': 269,
 'fantasy': 438,
 'adventure animation': 93,
 'animation children': 177,
 'children comedy': 228,
 'comedy fantasy': 293,
 'adventure animation children': 94,
 'animation children comedy': 178,
 'children comedy fantasy': 231,
 'adventure children': 102,
 'children fantasy': 249,
 'adventure children fantasy': 105,
 'romance': 556,
 'comedy romance': 320,
 'drama': 388,
 'comedy drama': 283,
 'drama romance': 423,
 'comedy drama romance': 289,
 'action': 0,
 'crime': 330,
 'thriller': 573,
 'action crime': 44,
 'crime thriller': 368,
 'action crime thriller': 53,
 'action adventure': 1,
 'adventure thriller': 168,
 'action adventure thriller': 12,
 'horror': 489,
 'comedy horror': 304,
 'adventure romance': 162,
 'action adventure romance': 10,
 'crime drama': 334,
 'action comedy': 31,
 'comedy crime': 270,
 'drama thriller': 430,
 'action comedy crime': 32,
 'comedy crime drama': 271,
 'crime drama thriller': 343,
 'comedy crime thriller': 277,
 'mystery': 525,
 'drama horror': 401,
 'horror mystery': 494,
 'mystery thriller': 534,
 'crime drama horror': 337,
 'drama horror mystery': 404,
 'horror mystery thriller': 497,
 'sci': 567,
 'fi': 470,
 'drama sci': 428,
 'sci fi': 568,
 'drama sci fi': 429,
 'children drama': 242,
 'adventure drama': 133,
 'drama fantasy': 389,
 'fantasy mystery': 454,
 'mystery sci': 532,
 'adventure drama fantasy': 134,
 'drama fantasy mystery': 394,
 'fantasy mystery sci': 457,
 'mystery sci fi': 533,
 'fi thriller': 472,
 'sci fi thriller': 570,
 'documentary': 373,
 'imax': 508,
 'documentary imax': 381,
 'war': 578,
 'drama war': 434,
 'action crime drama': 45,
 'adventure fantasy': 143,
 'action adventure fantasy': 7,
 'comedy drama thriller': 291,
 'musical': 510,
 'drama musical': 410,
 'musical romance': 515,
 'animation children drama': 180,
 'children drama musical': 244,
 'drama musical romance': 413,
 'crime mystery': 360,
 'crime mystery thriller': 363,
 'drama mystery': 417,
 'action sci': 85,
 'action sci fi': 86,
 'horror thriller': 503,
 'action comedy horror': 36,
 'comedy horror thriller': 310,
 'crime drama romance': 341,
 'action adventure drama': 6,
 'action thriller': 87,
 'drama horror thriller': 407,
 'horror romance': 498,
 'comedy horror romance': 308,
 'adventure comedy': 111,
 'crime romance': 364,
 'adventure comedy crime': 112,
 'comedy crime romance': 276,
 'comedy musical': 312,
 'adventure children comedy': 103,
 'children comedy musical': 233,
 'action drama': 56,
 'action drama war': 64,
 'action adventure comedy': 4,
 'mystery romance': 527,
 'drama mystery romance': 418,
 'drama imax': 409,
 'adventure drama imax': 136,
 'romance war': 564,
 'action drama romance': 61,
 'drama romance war': 426,
 'adventure drama war': 141,
 'comedy war': 327,
 'crime drama mystery': 340,
 'adventure mystery': 158,
 'action adventure mystery': 9,
 'adventure mystery sci': 160,
 'thriller war': 575,
 'drama thriller war': 432,
 'western': 581,
 'action romance': 80,
 'romance western': 566,
 'action romance western': 84,
 'film': 479,
 'noir': 542,
 'crime film': 351,
 'film noir': 480,
 'noir mystery': 547,
 'crime film noir': 352,
 'film noir mystery': 483,
 'noir mystery thriller': 550,
 'adventure children drama': 104,
 'adventure crime': 124,
 'action adventure crime': 5,
 'adventure crime thriller': 129,
 'crime sci': 366,
 'action crime sci': 52,
 'crime sci fi': 367,
 'action children': 25,
 'fantasy horror': 441,
 'fantasy horror mystery': 444,
 'horror sci': 501,
 'horror sci fi': 502,
 'drama mystery sci': 419,
 'adventure sci': 166,
 'action adventure sci': 11,
 'adventure sci fi': 167,
 'action comedy romance': 39,
 'children comedy romance': 235,
 'comedy sci': 324,
 'comedy sci fi': 325,
 'fantasy romance': 459,
 'comedy fantasy romance': 298,
 'drama fantasy romance': 395,
 'war western': 580,
 'romance war western': 565,
 'drama horror sci': 406,
 'action drama sci': 62,
 'thriller western': 576,
 'action thriller western': 89,
 'children drama fantasy': 243,
 'action drama thriller': 63,
 'comedy drama fantasy': 284,
 'noir thriller': 555,
 'film noir thriller': 486,
 'action comedy sci': 40,
 'adventure drama sci': 139,
 'crime horror': 353,
 'action crime horror': 48,
 'drama film': 399,
 'noir romance': 551,
 'drama film noir': 400,
 'film noir romance': 484,
 'drama mystery thriller': 420,
 'crime fantasy': 346,
 'fantasy thriller': 465,
 'action crime fantasy': 46,
 'crime fantasy thriller': 350,
 'children romance': 264,
 'adventure children romance': 109,
 'musical imax': 511,
 'drama musical imax': 411,
 'comedy crime fantasy': 272,
 'comedy western': 329,
 'adventure comedy western': 123,
 'romance thriller': 560,
 'action romance thriller': 82,
 'adventure comedy romance': 119,
 'comedy romance thriller': 322,
 'drama horror romance': 405,
 'horror romance thriller': 500,
 'action fantasy': 66,
 'comedy thriller': 326,
 'mystery romance thriller': 530,
 'action comedy drama': 34,
 'adventure documentary': 130,
 'drama western': 437,
 'adventure crime drama': 125,
 'drama romance thriller': 425,
 'action comedy war': 42,
 'adventure comedy fantasy': 115,
 'comedy mystery': 317,
 'action children romance': 29,
 'comedy mystery romance': 318,
 'action drama mystery': 60,
 'crime drama sci': 342,
 'comedy crime horror': 273,
 'adventure fantasy mystery': 147,
 'fantasy sci': 463,
 'action adventure children': 3,
 'comedy fantasy sci': 299,
 'fantasy sci fi': 464,
 'action mystery': 77,
 'action mystery thriller': 79,
 'fantasy musical': 449,
 'animation children fantasy': 181,
 'children fantasy musical': 251,
 'action drama western': 65,
 'action adventure animation': 2,
 'fantasy romance thriller': 462,
 'adventure drama western': 142,
 'crime horror thriller': 356,
 'drama fantasy musical': 393,
 'romance imax': 557,
 'fantasy musical romance': 452,
 'musical romance imax': 516,
 'adventure western': 174,
 'animation horror': 217,
 'adventure animation horror': 99,
 'animation horror sci': 219,
 'action horror': 72,
 'action horror sci': 74,
 'crime drama war': 344,
 'adventure mystery thriller': 161,
 'comedy drama war': 292,
 'adventure comedy sci': 120,
 'romance sci': 558,
 'mystery romance sci': 529,
 'romance sci fi': 559,
 'adventure comedy war': 122,
 'mystery western': 538,
 'drama mystery western': 422,
 'animation comedy': 186,
 'adventure animation comedy': 95,
 'drama fantasy horror': 391,
 'fantasy horror thriller': 447,
 'adventure romance thriller': 164,
 'animation sci': 225,
 'animation sci fi': 226,
 'fantasy romance sci': 461,
 'adventure drama thriller': 140,
 'comedy fantasy musical': 296,
 'musical thriller': 522,
 'crime drama musical': 339,
 'drama musical thriller': 415,
 'children musical': 257,
 'animation children musical': 182,
 'adventure drama romance': 138,
 'comedy musical romance': 313,
 'adventure mystery romance': 159,
 'comedy crime mystery': 275,
 'crime mystery romance': 361,
 'comedy drama musical': 287,
 'noir romance thriller': 552,
 'drama romance western': 427,
 'comedy romance war': 323,
 'children comedy western': 237,
 'children comedy drama': 230,
 'children comedy mystery': 234,
 'adventure children musical': 107,
 'documentary drama': 374,
 'children drama sci': 247,
 'children comedy crime': 229,
 'animation comedy drama': 188,
 'adventure horror': 153,
 'action adventure horror': 8,
 'crime drama film': 336,
 'documentary musical': 382,
 'adventure horror sci': 155,
 'action adventure western': 14,
 'comedy fantasy horror': 294,
 'action comedy musical': 38,
 'children comedy sci': 236,
 'action crime romance': 51,
 'crime romance thriller': 365,
 'comedy horror sci': 309,
 'musical war': 523,
 'comedy musical war': 315,
 'action comedy fantasy': 35,
 'crime thriller war': 370,
 'comedy mystery thriller': 319,
 'comedy drama film': 285,
 'adventure animation sci': 101,
 'action western': 91,
 'fantasy horror romance': 445,
 'action mystery sci': 78,
 'action comedy western': 43,
 'animation comedy crime': 187,
 'comedy horror mystery': 307,
 'action romance war': 83,
 'adventure comedy thriller': 121,
 'fantasy film': 439,
 'crime drama fantasy': 335,
 'drama fantasy film': 390,
 'fantasy film noir': 440,
 'noir mystery romance': 548,
 'action romance sci': 81,
 'comedy drama mystery': 288,
 'adventure fantasy thriller': 150,
 'action thriller war': 88,
 'comedy romance sci': 321,
 'comedy documentary': 279,
 'comedy drama sci': 290,
 'action children comedy': 26,
 'adventure film': 151,
 'noir sci': 553,
 'adventure film noir': 152,
 'film noir sci': 485,
 'noir sci fi': 554,
 'children fantasy sci': 253,
 'drama fantasy thriller': 397,
 'adventure comedy drama': 114,
 'action crime mystery': 50,
 'crime mystery sci': 362,
 'fantasy war': 467,
 'children fantasy war': 254,
 'adventure fantasy musical': 146,
 'fi western': 478,
 'sci fi western': 572,
 'children sci': 266,
 'children sci fi': 267,
 'children drama romance': 246,
 'adventure children sci': 110,
 'action animation': 15,
 'children crime': 238,
 'action animation children': 16,
 'animation children crime': 179,
 'adventure comedy musical': 117,
 'children crime drama': 240,
 'fantasy mystery thriller': 458,
 'fantasy western': 469,
 'children fantasy western': 255,
 'musical western': 524,
 'children musical western': 261,
 'adventure fantasy romance': 148,
 'comedy drama horror': 286,
 'action horror thriller': 75,
 'adventure fantasy sci': 149,
 'adventure drama mystery': 137,
 'animation comedy fantasy': 189,
 'horror mystery sci': 496,
 'fantasy mystery romance': 456,
 'fi war': 476,
 'sci fi war': 571,
 'horror western': 507,
 'adventure fantasy horror': 144,
 'drama romance sci': 424,
 'animation musical': 220,
 'adventure thriller war': 170,
 'children fantasy mystery': 252,
 'action war': 90,
 'fi thriller western': 475,
 'adventure crime sci': 128,
 'comedy film': 302,
 'comedy film noir': 303,
 'horror musical': 491,
 'musical sci': 520,
 'comedy horror musical': 306,
 'horror musical sci': 492,
 'musical sci fi': 521,
 'animation comedy musical': 191,
 'comedy fantasy mystery': 297,
 'animation horror mystery': 218,
 'crime drama western': 345,
 'musical romance war': 518,
 'crime fantasy mystery': 348,
 'animation drama': 201,
 'adventure animation drama': 97,
 'animation drama fantasy': 202,
 'horror mystery romance': 495,
 'action fantasy horror': 67,
 'children musical imax': 258,
 'crime thriller western': 371,
 'action children fantasy': 28,
 'drama thriller western': 433,
 'crime horror mystery': 354,
 'animation fantasy': 207,
 'adventure animation fantasy': 98,
 'animation fantasy sci': 213,
 'noir horror': 543,
 'film noir horror': 481,
 'noir horror mystery': 544,
 'animation children sci': 184,
 'fantasy horror sci': 446,
 'horror musical thriller': 493,
 'drama war western': 436,
 'adventure comedy horror': 116,
 'adventure war': 172,
 'action adventure war': 13,
 'adventure comedy mystery': 118,
 'adventure documentary imax': 132,
 'fi imax': 471,
 'animation drama sci': 205,
 'sci fi imax': 569,
 'comedy musical sci': 314,
 'musical mystery': 512,
 'drama musical mystery': 412,
 'crime musical': 358,
 'comedy musical western': 316,
 'action animation comedy': 17,
 'fantasy horror musical': 443,
 'horror thriller war': 505,
 'animation fantasy horror': 208,
 'documentary war': 387,
 'children western': 268,
 'animation children western': 185,
 'adventure drama horror': 135,
 'drama fantasy sci': 396,
 'comedy crime musical': 274,
 'crime musical mystery': 359,
 'animation comedy war': 194,
 'drama fantasy war': 398,
 'animation drama war': 206,
 'documentary horror': 380,
 'action horror mystery': 73,
 'action comedy documentary': 33,
 'documentary drama musical': 375,
 'comedy documentary musical': 282,
 'action animation sci': 24,
 'thriller imax': 574,
 'fi thriller imax': 473,
 'action drama horror': 58,
 'comedy war western': 328,
 'action fantasy sci': 68,
 'action comedy thriller': 41,
 'animation drama romance': 204,
 'adventure musical': 156,
 'musical romance western': 519,
 'noir horror thriller': 545,
 'crime documentary': 331,
 'adventure thriller western': 171,
 'crime fantasy sci': 349,
 'crime fantasy horror': 347,
 'noir musical': 546,
 'film noir musical': 482,
 'romance thriller war': 562,
 'musical mystery romance': 513,
 'crime western': 372,
 'comedy crime western': 278,
 'crime horror sci': 355,
 'animation fantasy thriller': 214,
 'fantasy imax': 448,
 'adventure fantasy imax': 145,
 'comedy fantasy thriller': 300,
 'comedy documentary drama': 280,
 'children musical romance': 260,
 'children fantasy imax': 250,
 'adventure crime horror': 126,
 'crime documentary war': 333,
 'horror war': 506,
 'drama horror war': 408,
 'animation fantasy mystery': 211,
 'animation crime': 195,
 'action animation crime': 18,
 'animation crime drama': 196,
 'noir mystery sci': 549,
 'action documentary': 54,
 'action documentary drama': 55,
 'documentary drama thriller': 377,
 'action animation drama': 19,
 'mystery thriller war': 535,
 'action animation horror': 22,
 'mystery romance war': 531,
 'animation fantasy musical': 210,
 'fantasy musical sci': 453,
 'crime documentary drama': 332,
 'animation drama mystery': 203,
 'comedy fantasy imax': 295,
 'animation documentary': 199,
 'drama horror musical': 403,
 'action animation fantasy': 20,
 'documentary drama sci': 376,
 'animation fantasy romance': 212,
 'action crime film': 47,
 'children documentary': 241,
 'crime imax': 357,
 'action crime imax': 49,
 'musical romance thriller': 517,
 'comedy fantasy war': 301,
 'adventure horror mystery': 154,
 'action drama musical': 59,
 'drama musical war': 416,
 'horror romance sci': 499,
 'fantasy thriller imax': 466,
 'action drama fantasy': 57,
 'animation film': 215,
 'action animation film': 21,
 'animation film noir': 216,
 'adventure thriller imax': 169,
 'romance thriller western': 563,
 'comedy imax': 311,
 'children comedy imax': 232,
 'documentary drama war': 378,
 'action fantasy thriller': 69,
 'war imax': 579,
 'action fantasy war': 70,
 'fantasy war imax': 468,
 'animation mystery': 221,
 'animation mystery sci': 223,
 'drama fantasy imax': 392,
 'documentary fantasy': 379,
 'adventure animation crime': 96,
 'animation crime fantasy': 197,
 'animation fantasy imax': 209,
 'animation comedy sci': 193,
 'crime drama imax': 338,
 'documentary musical imax': 383,
 'action children sci': 30,
 'adventure war western': 173,
 'adventure romance western': 165,
 'animation children romance': 183,
 'children romance sci': 265,
 'animation comedy romance': 192,
 'animation documentary drama': 200,
 'crime thriller imax': 369,
 'drama musical sci': 414,
 'action comedy imax': 37,
 'action animation mystery': 23,
 'mystery romance imax': 528,
 'animation comedy horror': 190,
 'fantasy romance imax': 460,
 'romance thriller imax': 561,
 'action children drama': 27,
 'documentary mystery': 384,
 'mystery thriller western': 536,
 'horror imax': 490,
 'action fantasy western': 71,
 'western imax': 582,
 'thriller western imax': 577,
 'no': 539,
 'genres': 487,
 'listed': 509,
 'no genres': 540,
 'genres listed': 488,
 'no genres listed': 541,
 'drama thriller imax': 431,
 'mystery war': 537,
 'drama mystery war': 421,
 'fi thriller war': 474,
 'fi war imax': 477,
 'mystery imax': 526,
 'fantasy mystery imax': 455,
 'horror thriller imax': 504,
 'children mystery': 262,
 'children mystery sci': 263,
 'animation mystery imax': 222,
 'children drama mystery': 245,
 'adventure crime imax': 127,
 'fantasy horror imax': 442,
 'fantasy musical imax': 450,
 'comedy horror imax': 305,
 'children musical mystery': 259,
 'fantasy musical mystery': 451,
 'musical mystery sci': 514,
 'adventure documentary drama': 131,
 'adventure comedy documentary': 113,
 'comedy documentary fantasy': 281,
 'adventure musical romance': 157,
 'drama horror imax': 402,
 'adventure western imax': 175,
 'action imax': 76,
 'children drama war': 248,
 'adventure romance sci': 163,
 'animation crime sci': 198,
 'drama war imax': 435,
 'documentary sci': 385,
 'documentary sci fi': 386,
 'children imax': 256,
 'adventure children imax': 106,
 'animation romance': 224,
 'adventure animation romance': 100,
 'adventure children mystery': 108,
 'children crime documentary': 239}

In [111]:
c_gen.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [112]:
movieidtile=data[['movieId','title']].drop_duplicates()
movieidtile.head()

     movieId                                    title
0         31                          Dangerous Minds
42      1029                                    Dumbo
84      1061                                 Sleepers
117     1129                     Escape from New York
165     1172  Cinema Paradiso (Nuovo cinema Paradiso)

In [123]:
csmm = cosine_similarity(movie_data,movie_data)
dfcsmm=pd.DataFrame(csmm,columns = movieidtile['title'].values,index = movieidtile.movieId.values)
dfcsmm.head()

,Dangerous Minds,Dumbo,Sleepers,Escape from New York,Cinema Paradiso (Nuovo cinema Paradiso),"Deer Hunter, The",Ben-Hur,Gandhi,Dracula (Bram Stoker's Dracula),Cape Fear,...,Aloha,Entourage,Magic Mike XXL,7 Days in Hell,Pathology,War of the Worlds,"Box, The",Pie in the Sky,Summer Catch,"6th Man, The (Sixth Man, The)"
31,1.000000,0.394511,0.306516,0.133614,0.245102,0.377086,0.278629,0.063031,0.117499,0.310689,...,0.055829,0.031902,0.079755,0.079755,0.079755,0.079755,0.079755,0.0,0.0,0.055829
1029,0.394511,1.000000,0.217492,0.164651,0.278476,0.222003,0.207299,0.223524,0.113669,0.418124,...,0.000000,0.055038,0.068797,0.082557,0.082557,0.137594,0.068797,0.0,0.0,0.000000
1061,0.306516,0.217492,1.000000,0.177012,0.370732,0.247499,0.435648,0.127574,0.306717,0.191255,...,0.000000,0.000000,0.000000,0.116226,0.116226,0.000000,0.000000,0.0,0.0,0.000000
1129,0.133614,0.164651,0.177012,1.000000,0.179556,0.072518,0.184626,0.501513,0.254630,0.111447,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
1172,0.245102,0.278476,0.370732,0.179556,1.000000,0.272645,0.388476,0.194113,0.367941,0.246846,...,0.000000,0.176845,0.000000,0.117897,0.117897,0.000000,0.000000,0.0,0.0,0.000000

In [124]:
dfcsmm['Toy Story'].sort_values(ascending = False)

1       1.000000
2124    0.498970
3147    0.484860
317     0.477907
1011    0.468521
          ...
2168    0.000000
2206    0.000000
2491    0.000000
2500    0.000000
3835    0.000000
Name: Toy Story, Length: 9066, dtype: float64

In [125]:
simindex = dfcsmm['Toy Story'].sort_values(ascending = False)[1:11]

In [126]:
movie_data.loc[1:]

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0,0.0,...,0.0,4.0,3.5,0.0,0.0,0.0,0.0,0.0,4.0,5.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162376,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162542,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162672,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
163949,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [127]:
# 제공한 영화와 가장 유사한 평점을 준 영화 5개 추천
def cos_sim(data,title_name,movieId_data,per = 0.1):
    movieId = movieId_data[movieId_data['title'] == title_name]['movieId'].values[0]
    lis_cos =[]
    nor = np.linalg.norm(data.loc[movieId,:])
    for j in range(len(data.index)):
        cos = (data.loc[movieId,:]@data.iloc[j,:])/(nor*np.linalg.norm(data.iloc[j,:]))
        if (cos > per) and( data.index[j] != movieId) :
            lis_cos.append((cos,data.index[j]))
    return sorted(lis_cos,reverse=True)

In [128]:
recom_ratings = cos_sim(movie_data,'Toy Story',new_movies)
show_recom_ratings = pd.DataFrame([],columns = new_movies.columns)
for i in recom_ratings:
    show_recom_ratings = show_recom_ratings.append(new_movies[new_movies['movieId'] == i[1]])

In [129]:
recom_ratings

[(0.5947098120318489, 3114),
 (0.576187845976566, 260),
 (0.5645338614526411, 356),
 (0.5629456002603211, 780),
 (0.5480230213992765, 1265),
 (0.5367002895741999, 1270),
 (0.5351970778368947, 480),
 (0.5326850987406373, 4306),
 (0.529334044308981, 1210),
 (0.5268615741598919, 296),
 (0.5234293660370452, 2571),
 (0.5211224677355181, 1580),
 (0.5201349521307311, 4886),
 (0.5197331963653228, 2355),
 (0.5185603741742433, 318),
 (0.5143471364270416, 364),
 (0.5125441657615241, 588),
 (0.508723606959372, 2762),
 (0.5059754109061483, 1198),
 (0.5046628499601937, 1196),
 (0.502590463503237, 8961),
 (0.5009200410460862, 6377),
 (0.4981681555905294, 1073),
 (0.4964664532169273, 648),
 (0.49568997812323057, 593),
 (0.49552356089989047, 5952),
 (0.4938264624714002, 4993),
 (0.4892746610261179, 32),
 (0.4884886546635136, 608),
 (0.4842322203620194, 34),
 (0.47619837175776747, 1682),
 (0.4751611880935025, 2028),
 (0.47168594302817907, 7153),
 (0.47118806932903995, 595),
 (0.47002436060604286, 6539),
 (0.4691853563256931, 1291),
 (0.4686795697851537, 736),
 (0.4670028544504197, 110),
 (0.4667305630124605, 1097),
 (0.4662869784079914, 589),
 (0.46235039826097607, 1197),
 (0.4621914167908317, 733),
 (0.45366148238809767, 377),
 (0.45363263439240686, 5349),
 (0.453437311449174, 1240),
 (0.4526424120361898, 457),
 (0.4481409513000701, 150),
 (0.442418761594687, 527),
 (0.4400796756593131, 50),
 (0.4394272420314936, 1721),
 (0.4389283087937971, 47),
 (0.4381097026880093, 4963),
 (0.43808019922271635, 1036),
 (0.43772577972450644, 2797),
 (0.4319502317929441, 500),
 (0.43058731978009457, 858),
 (0.4283384756367968, 2959),
 (0.4276475813724578, 5418),
 (0.4255681873375809, 592),
 (0.42191219287345616, 1136),
 (0.42169978284824033, 2858),
 (0.42071047431544717, 919),
 (0.41886916039185634, 1393),
 (0.41849254050897067, 1214),
 (0.4176305005144681, 1517),
 (0.4171320413140546, 1784),
 (0.4134352838656067, 231),
 (0.41339990813268646, 2918),
 (0.4131839922356291, 586),
 (0.4117880448104701, 380),
 (0.4109278568677385, 4896),
 (0.4105520491467211, 3751),
 (0.40892155561771787, 5989),
 (0.40673280829265834, 2716),
 (0.40517437781183635, 3793),
 (0.40514759200642336, 3578),
 (0.40429558052284614, 4022),
 (0.40420682115434337, 2628),
 (0.4038323279245818, 1387),
 (0.4037320377867171, 8360),
 (0.4010401309362589, 104),
 (0.398612784317226, 597),
 (0.39831721667855113, 1573),
 (0.3948665781785764, 293),
 (0.39453638642383765, 2291),
 (0.3945114500659365, 2),
 (0.3938109430622783, 1200),
 (0.3911600446145013, 1356),
 (0.39049279540588744, 1704),
 (0.39039636032837555, 2683),
 (0.38918260484346207, 1288),
 (0.38894983918927156, 367),
 (0.3863373299866782, 8665),
 (0.3862301302507086, 1917),
 (0.38602297505857947, 357),
 (0.3859648384988357, 1089),
 (0.3842519171877215, 1148),
 (0.3842507268374361, 1527),
 (0.3834791387309511, 590),
 (0.3830153467135869, 33794),
 (0.38258071925819404, 223),
 (0.3821285978578811, 1617),
 (0.3816703722125102, 1213),
 (0.37990397415604277, 3996),
 (0.3792249056286319, 344),
 (0.37891534694101836, 3948),
 (0.37864388629261525, 1968),
 (0.37853739889948834, 39),
 (0.3781342315974343, 78499),
 (0.3770861461798005, 6),
 (0.37690489717655545, 6333),
 (0.37670433547214643, 2706),
 (0.376633112114711, 1079),
 (0.3765672507178602, 541),
 (0.3755190561399122, 1610),
 (0.37394999527771206, 2987),
 (0.37308705508616014, 5445),
 (0.3724430131051627, 3253),
 (0.3724050526647655, 8636),
 (0.3712857913924894, 4995),
 (0.37109257248680727, 1923),
 (0.3707207522104442, 1266),
 (0.37049930224766453, 745),
 (0.370051495663241, 1777),
 (0.36716415262130103, 2997),
 (0.36695418833704535, 2791),
 (0.36664653732387836, 778),
 (0.36619249084039074, 2054),
 (0.3659516154804454, 788),
 (0.3656828264325947, 1080),
 (0.3650356080421233, 4226),
 (0.36500235780444884, 3897),
 (0.36455188572703423, 59315),
 (0.3644479459615788, 1193),
 (0.3642223817733673, 4027),
 (0.3642151493473749, 8368),
 (0.3630421588005403, 3147),
 (0.36302398178790923, 2081),
 (0.362966001308473, 6874),
 (0.36274007918250634, 551),
 (0.3590979318512076, 1391),
 (0.3590092383443519, 1485),
 (0.35890140025628253, 1407),
 (0.3588750540962869, 1028),
 (0.3588107996484654, 141),
 (0.3582009659118915, 36),
 (0.35818740463490006, 316),
 (0.35766798555042306, 1584),
 (0.35659109306687886, 1220),
 (0.35541391302699504, 1380),
 (0.35491152251573443, 5218),
 (0.3538448051004992, 165),
 (0.3536331687808334, 2804),
 (0.35351349291632356, 2194),
 (0.35321810476902693, 2012),
 (0.3520428759769736, 1222),
 (0.351916321284843, 2700),
 (0.3512533359895054, 1035),
 (0.35111895585450464, 7361),
 (0.3503415607812618, 539),
 (0.3498309591262944, 924),
 (0.3496004269114635, 1732),
 (0.3491091047386262, 17),
 (0.34892761842162906, 2000),
 (0.34881137228990944, 32587),
 (0.3485637976898676, 2011),
 (0.34834165352123175, 1961),
 (0.34828806442186216, 802),
 (0.34807745672078505, 2396),
 (0.3480050372530257, 1259),
 (0.34795060586866056, 1500),
 (0.34789223498140337, 2115),
 (0.34785329651831637, 5816),
 (0.34677446553719954, 1282),
 (0.34646771860876907, 2599),
 (0.3462069451887336, 4973),
 (0.34613873490411634, 1544),
 (0.34589880471676077, 58559),
 (0.3458302796446555, 153),
 (0.34522473789711094, 6365),
 (0.34509026783962293, 2321),
 (0.3444230460252945, 1370),
 (0.3441462397733106, 1394),
 (0.34356870629206987, 68954),
 (0.34309511634479056, 25),
 (0.3428095317810921, 587),
 (0.3422330917053392, 912),
 (0.3421482463901864, 60069),
 (0.34196302684671015, 1022),
 (0.34172177862414926, 1221),
 (0.3415793057458469, 474),
 (0.34133808406931526, 7438),
 (0.3410054579812199, 1641),
 (0.33991556936498407, 594),
 (0.33967056882031094, 832),
 (0.33913382013620497, 1042),
 (0.3378672036628141, 1377),
 (0.3373829351736268, 708),
 (0.33730627662699103, 4878),
 (0.33686894806152756, 95),
 (0.3366682316455283, 3052),
 (0.3354514426459873, 49272),
 (0.3351857409099992, 4011),
 (0.3348887794971421, 786),
 (0.33425421870828487, 440),
 (0.3328989319310765, 235),
 (0.3314151290304344, 2078),
 (0.3312877111030572, 2916),
 (0.33103763510302125, 1304),
 (0.33046031728318087, 21),
 (0.33004970502271025, 3481),
 (0.32997757214114276, 783),
 (0.32865141223319416, 1060),
 (0.32837270585851325, 1676),
 (0.3281937819156691, 11),
 (0.32792058069425173, 2687),
 (0.3273684593166328, 653),
 (0.3273050168534725, 5502),
 (0.3254618311111524, 1208),
 (0.32525034548985793, 1552),
 (0.32501676737588114, 48),
 (0.3249197965731035, 33493),
 (0.3241962320182954, 953),
 (0.32320480928301504, 5378),
 (0.3231272919720702, 111),
 (0.32301624309529053, 16),
 (0.32296626437058334, 1729),
 (0.32272090813358983, 1653),
 (0.3222606744158894, 4979),
 (0.3218465808825134, 2617),
 (0.32183641588328593, 2174),
 (0.32179855877443053, 1307),
 (0.3215976595251958, 904),
 (0.32156667348701257, 529),
 (0.32138728791275345, 471),
 (0.3209334997106087, 1090),
 (0.3204540587886837, 6711),
 (0.32022848198922865, 661),
 (0.3198463791426755, 44191),
 (0.3192475418649793, 2502),
 (0.31898940392310454, 253),
 (0.3187562431006488, 1608),
 (0.3181470880186084, 2671),
 (0.3177879665713427, 48516),
 (0.31714740077546655, 288),
 (0.31698861232340897, 454),
 (0.31690671675399595, 1225),
 (0.31623948426768717, 596),
 (0.3160004853906445, 349),
 (0.31579096510750515, 410),
 (0.3155286274063039, 497),
 (0.314994489728944, 2080),
 (0.3146863583451913, 51662),
 (0.31447827772469833, 30707),
 (0.31396223175892446, 6863),
 (0.31350022309106557, 8784),
 (0.3133638739460804, 673),
 (0.3133278135607382, 908),
 (0.3127491339614224, 41566),
 (0.3120781025246206, 337),
 (0.3120553262326102, 2268),
 (0.3118212911893471, 2692),
 (0.3117662599277108, 1206),
 (0.311527104146029, 1223),
 (0.3111750124589267, 1246),
 (0.31084136189971157, 720),
 (0.310688669919791, 10),
 (0.3103456513986234, 3977),
 (0.31033655373389835, 2324),
 (0.308886884273883, 1278),
 (0.3087665492728338, 329),
 (0.30876172577479755, 56367),
 (0.30853677059584744, 1059),
 (0.30800801894368623, 300),
 (0.3073769429847582, 62),
 (0.3068713608923572, 35836),
 (0.30656199625163233, 1242),
 (0.3065158785073811, 3),
 (0.30620773688305164, 2018),
 (0.3056664850193749, 628),
 (0.3054910973667483, 1358),
 (0.30536113995973174, 1566),
 (0.3052297905630245, 750),
 (0.30500646551299176, 805),
 (0.30481806851188215, 19),
 (0.3040120455447532, 5299),
 (0.3038181000032853, 2302),
 (0.30349075451576696, 3471),
 (0.3029758114812039, 7147),
 (0.30274030210221103, 442),
 (0.3019056773234926, 1258),
 (0.301857238250478, 2289),
 (0.30153403805131707, 40815),
 (0.3014443512984812, 1302),
 (0.3013268082252403, 2947),
 (0.3009302651401763, 353),
 (0.30067164647822636, 1234),
 (0.3004786679603789, 1374),
 (0.3000444351785082, 3408),
 (0.29994084662597703, 54286),
 (0.29967182010959104, 2640),
 (0.29966428231877346, 1285),
 (0.2994669853139866, 494),
 (0.29933892051758115, 46578),
 (0.29914939972186233, 1092),
 (0.2991415041136063, 5010),
 (0.2990472305480759, 5991),
 (0.29837890128199884, 2329),
 (0.29828128441978397, 2395),
 (0.29816458378382926, 1215),
 (0.2978226053964655, 50872),
 (0.2976706941712794, 1639),
 (0.29760485285099103, 1405),
 (0.2970760718469397, 4034),
 (0.2966596890120364, 3623),
 (0.2966590345832892, 3255),
 (0.2966301291668323, 923),
 (0.2964555604559867, 1207),
 (0.2964204317140059, 317),
 (0.29635380228848146, 1396),
 (0.29576018205017285, 4720),
 (0.2955431038552279, 79132),
 (0.2952373476738201, 3421),
 (0.2948675625661756, 1907),
 (0.2945122665683075, 292),
 (0.2943138096098616, 1247),
 (0.29383561446137124, 1569),
 (0.29336240695903354, 3108),
 (0.29317085941192833, 368),
 (0.2922247374727861, 2424),
 (0.2919859974213553, 376),
 (0.2917591043231662, 45722),
 (0.2917510398105407, 2406),
 (0.2911158634023679, 1032),
 (0.29009154755576205, 2085),
 (0.2900626079830983, 2710),
 (0.28986966386832363, 1183),
 (0.289531736456686, 8528),
 (0.28939804486425674, 6936),
 (0.2893934236321227, 8644),
 (0.28928139496171634, 784),
 (0.2892007791075939, 6947),
 (0.28910458387949867, 348),
 (0.28881419453660917, 2470),
 (0.2883294127616084, 1029),
 (0.2876389600757682, 2539),
 (0.28762268595739754, 2353),
 (0.2871820123808801, 72998),
 (0.28704536163511124, 339),
 (0.28699446806296947, 6016),
 (0.28697776229303124, 2890),
 (0.2869176529613092, 1101),
 (0.286142657130688, 38038),
 (0.2858205829115987, 163),
 (0.2857673329883151, 59369),
 (0.2856744673355846, 2005),
 (0.28544492038943176, 1954),
 (0.2852567959144973, 8874),
 (0.28512103110200493, 3911),
 (0.28426887278025514, 33679),
 (0.28419182144637306, 2294),
 (0.2841327679165044, 1876),
 (0.2840884660182786, 1597),
 (0.28314273238825083, 3175),
 (0.28299665641733407, 68358),
 (0.28293266058332023, 5679),
 (0.2826145991185694, 2420),
 (0.28222185991817567, 1027),
 (0.2815210797121403, 852),
 (0.2813376202510475, 2542),
 (0.2809559416290353, 1252),
 (0.2807462033021241, 1479),
 (0.28069348259016025, 434),
 (0.280239522256948, 6870),
 (0.28020517046796845, 2761),
 (0.27994548369726124, 3034),
 (0.27937865001999346, 112),
 (0.27908428368342886, 52),
 (0.27896962814001286, 3671),
 (0.27862929436190825, 7),
 (0.27820793754025086, 2580),
 (0.27789518327840035, 1625),
 (0.2778184143666009, 1127),
 (0.2775979474719165, 2657),
 (0.27692848061784675, 441),
 (0.276543153427271, 33166),
 (0.27633341035589326, 4776),
 (0.2759225541539647, 3039),
 (0.2754774748062511, 4370),
 (0.2754519490208211, 1061),
 (0.2752526976998445, 1094),
 (0.2750062992288852, 1201),
 (0.2749656615531916, 6537),
 (0.2740208866964826, 4246),
 (0.2737654576417646, 899),
 (0.2736132268662585, 6378),
 (0.27352001377880736, 2105),
 (0.27334365528898097, 1203),
 (0.27303843888605955, 40819),
 (0.2729784064658579, 1372),
 (0.27212136074322496, 89745),
 (0.2721020074146015, 107),
 (0.27205991703642524, 2985),
 (0.27182791096155806, 208),
 (0.27150237712958203, 1228),
 (0.27120832999419314, 2273),
 (0.2707310415972804, 3994),
 (0.27044092358447935, 54503),
 (0.2703861967870848, 1219),
 (0.27027721222804874, 161),
 (0.27006850566064483, 553),
 (0.2699939625140707, 1688),
 (0.2697804180820156, 1343),
 (0.26939927483537096, 180),
 (0.26838200470971246, 520),
 (0.2675361883777546, 1645),
 (0.2673508168190507, 1376),
 (0.26732281987815165, 2723),
 (0.2673069597804792, 5459),
 (0.26695792928624335, 1997),
 (0.26677617988455643, 8641),
 (0.266541875826627, 3256),
 (0.26641659165389203, 3448),
 (0.26632487345138756, 555),
 (0.26598707866624494, 2087),
 (0.26563751841230193, 466),
 (0.2656315990504513, 8949),
 (0.26546151298483533, 3499),
 (0.2653093751162216, 4016),
 (0.2652789713306448, 1367),
 (0.2644090095131415, 68157),
 (0.2643119144325939, 2144),
 (0.2643099901158537, 4816),
 (0.26388889022032774, 1805),
 (0.26320112212691343, 2394),
 (0.2628493775367809, 1171),
 (0.2626030181702553, 508),
 (0.26249962228549445, 55820),
 (0.26249269692209115, 6188),
 (0.26242389840308, 34048),
 (0.2616347644186372, 2746),
 (0.26158565208809936, 6323),
 (0.26101868609281026, 4308),
 (0.2609943041796918, 34162),
 (0.26076839812221564, 34405),
 (0.2607057212044653, 48780),
 (0.26068457296360287, 8970),
 (0.2605641757919058, 2140),
 (0.2602724463153517, 2141),
 (0.25940466245154575, 3489),
 (0.25899683809006613, 671),
 (0.25891727384835894, 29),
 (0.25890229106885637, 1409),
 (0.258775023893698, 2108),
 (0.25869486670592107, 2770),
 (0.2583945415129067, 6934),
 (0.25838941621514167, 265),
 (0.25827521986083857, 2096),
 (0.2580861075028883, 2699),
 (0.257859701670636, 3949),
 (0.25783660228982064, 8798),
 (0.25764851921169174, 1320),
 (0.2576020195774107, 1562),
 (0.2575404347346548, 4262),
 (0.257251583759708, 2701),
 (0.2571608527764195, 6218),
 (0.2571092791423739, 3717),
 (0.2567333792900269, 435),
 (0.2563591940927505, 1357),
 (0.2562312574846139, 30812),
 (0.2553291314269701, 2003),
 (0.2552124180133794, 1250),
 (0.25520443775559704, 2384),
 (0.25509982865237607, 342),
 (0.25501204182787424, 69122),
 (0.2550032102502506, 7090),
 (0.2547266832700881, 2490),
 (0.25456774935636894, 4014),
 (0.25447843047653157, 3210),
 (0.2543645889377874, 4447),
 (0.2543042665251543, 1230),
 (0.25417911808613836, 1333),
 (0.25406307587103283, 719),
 (0.25403808615142537, 1747),
 (0.253804478765559, 902),
 (0.2533900688850447, 8529),
 (0.2533213983767466, 8376),
 (0.25323290484597516, 2968),
 (0.2532018215341279, 1441),
 (0.25314819797990146, 1947),
 (0.2529166449256069, 2248),
 (0.25284832651383266, 838),
 (0.2528393656975026, 59784),
 (0.2528173924655382, 1408),
 (0.2526294581012714, 3753),
 (0.252440428383163, 2231),
 (0.2523660916276847, 2006),
 (0.25234624711819126, 2161),
 (0.25219724239639413, 1275),
 (0.2521917609581872, 3552),
 (0.2516603654972055, 585),
 (0.2512126263797689, 1748),
 (0.25119231803236003, 56174),
 (0.25115440722929555, 350),
 (0.25104268257997403, 4641),
 (0.2509388275935745, 6942),
 (0.25068613850470545, 80463),
 (0.25047355039782476, 2139),
 (0.25018410516092865, 3033),
 (0.25007115906259264, 1674),
 (0.2500542722221555, 3916),
 (0.24975088560618489, 4310),
 (0.2494105612172939, 785),
 (0.2493750569408178, 2001),
 (0.24936235392430497, 1673),
 (0.24895642603078477, 543),
 (0.24832788732528246, 198),
 (0.2481643886622321, 914),
 (0.24800862821772318, 2126),
 (0.24773495530087597, 6373),
 (0.2473811632563898, 1020),
 (0.2470309767365554, 898),
 (0.24697983911437021, 246),
 (0.2467121039034083, 5481),
 (0.24670455826957666, 3535),
 (0.2466106017920854, 3160),
 (0.24655768768439207, 2641),
 (0.24630712623505688, 1047),
 (0.24630183264240343, 509),
 (0.24624332495121656, 70),
 (0.24615575776503168, 71535),
 (0.24607074328020972, 45517),
 (0.24605266123768507, 73017),
 (0.24584127377621245, 5444),
 (0.24579651329742921, 1513),
 (0.2456866658518122, 1274),
 (0.24510195924183234, 5),
 (0.2448661160440222, 185),
 (0.244664284467127, 4369),
 (0.2444882453985109, 5618),
 (0.24446784588615017, 2253),
 (0.24441122818072575, 1088),
 (0.24406242657290614, 3082),
 (0.24396586048022922, 41569),
 (0.2439290589324745, 41997),
 (0.24369475025212767, 2167),
 (0.24361451186190222, 69757),
 (0.2434963111589529, 1614),
 (0.24239769106616174, 2572),
 (0.24209287288375025, 49530),
 (0.2420062786346643, 8972),
 (0.24192428292270451, 158),
 (0.2415978397557539, 3247),
 (0.24122726173502906, 54272),
 (0.24097783524024977, 913),
 (0.2409369798469001, 46976),
 (0.24083878753488958, 1438),
 (0.2408176852409931, 2529),
 (0.24076295687091975, 2335),
 (0.24070659909604303, 6281),
 (0.24059175526159296, 4025),
 (0.2398926686545952, 5266),
 (0.23979805367679063, 2478),
 (0.239515465551035, 2805),
 (0.23948735441200764, 252),
 (0.23939622638367908, 48385),
 (0.2393855461147792, 48394),
 (0.23920487147378372, 647),
 (0.23880765564657142, 3526),
 (0.23871353177066984, 5669),
 (0.23856325474497808, 1179),
 (0.23826253048808815, 1912),
 (0.23799031231053322, 2803),
 (0.23777664239935964, 333),
 (0.23773440008191637, 3176),
 (0.2376781751135451, 3081),
 (0.23744841714413206, 2908),
 (0.23739121274429126, 955),
 (0.23701210192312033, 370),
 (0.23699574337245377, 1084),
 (0.23685586292354924, 2109),
 (0.23685175336547643, 236),
 (0.2368494479199542, 1957),
 (0.23683934128737347, 176),
 (0.2367965649084938, 76093),
 (0.23677652862200702, 5902),
 (0.23654398533252963, 69),
 (0.23643353268925615, 485),
 (0.23634723683464692, 3020),
 (0.23605520429763913, 2391),
 (0.2359706677194404, 45499),
 (0.23594806252863781, 5810),
 (0.2359146743147438, 3361),
 (0.23582571413041714, 1894),
 (0.23564912288499046, 33004),
 (0.23562809986718158, 6979),
 (0.23554744908407194, 3363),
 (0.23535335432209037, 64614),
 (0.23527943317655756, 2150),
 (0.2351853269799439, 1909),
 (0.235105210016189, 1025),
 (0.2349186437153647, 5903),
 (0.2348785375671175, 3424),
 (0.23457940690275011, 1466),
 (0.23440651140345395, 170),
 (0.23397457311656567, 2064),
 (0.2338585128360376, 2124),
 (0.2337947519715591, 903),
 (0.23365834513769668, 1882),
 (0.2335021200626589, 7254),
 (0.2332773387236801, 2359),
 (0.23323001586866157, 4734),
 (0.23322915200781083, 2724),
 (0.23317289046867737, 2605),
 (0.23298080125198997, 1199),
 (0.23289275642777368, 63082),
 (0.2328617572238666, 1276),
 (0.2328456285842511, 3107),
 (0.23283988547711668, 1231),
 (0.2325604996816243, 1911),
 (0.23254834398749594, 81834),
 (0.23251451074082022, 2405),
 (0.23236295517215608, 2463),
 (0.23227337660078126, 1271),
 (0.23205141904898008, 8464),
 (0.23202941775235034, 2763),
 (0.231923983456364, 3174),
 (0.23187424126419737, 247),
 (0.23182852358645925, 2581),
 (0.23179954534322145, 4270),
 (0.23179817774069617, 85414),
 (0.23169674881183847, 319),
 (0.231579832789072, 3006),
 (0.23156867636347736, 5377),
 (0.23150252003837984, 1722),
 (0.23120355779318502, 926),
 (0.2310515053544374, 51540),
 (0.2309697715324158, 36529),
 (0.2309313593785262, 910),
 (0.23053889482650294, 7373),
 (0.23034579270674324, 1952),
 (0.2300390717434733, 7143),
 (0.22999178253223415, 1188),
 (0.2299454740479246, 3450),
 (0.22987491487635334, 6502),
 (0.2297865429471784, 1269),
 (0.2297558411640124, 88125),
 (0.22952338559125027, 1129),
 (0.22880841609999059, 77561),
 (0.22868417931703583, 1204),
 (0.22855692976684827, 3044),
 (0.2280774704308455, 57669),
 (0.22805453449183735, 1103),
 (0.22794587017645837, 44195),
 (0.22759515560688273, 1091),
 (0.22754781478561165, 432),
 (0.22735920050650954, 1588),
 (0.22704855430216683, 6796),
 (0.22700626106050437, 1077),
 (0.22672050647736042, 1378),
 (0.22642444765797887, 3752),
 (0.22625653205082544, 1701),
 (0.2261634326990353, 2082),
 (0.22607220388950502, 2717),
 (0.22602975541397427, 1883),
 (0.2260076456083469, 515),
 (0.22587539989206523, 44665),
 (0.22574993643054234, 2915),
 (0.22561421957433114, 70286),
 (0.22556643805165635, 112852),
 (0.2252103792428062, 4571),
 (0.22518493235364112, 2100),
 (0.22513054421105677, 8361),
 (0.22502631269883724, 1967),
 (0.22498860502358695, 81564),
 (0.22484633010577224, 2094),
 (0.22476695743739597, 59615),
 (0.22461533790767593, 1104),
 (0.22456374035300247, 74458),
 (0.22436805145715188, 76251),
 (0.22419880280424828, 920),
 (0.2239703079615085, 345),
 (0.22396886481314474, 2501),

In [130]:
show_recom_ratings[:10]

,movieId,genres,title,years
2506,3114,Adventure Animation Children Comedy Fantasy,Toy Story 2,(1999)
232,260,Action Adventure Sci-Fi,Star Wars: Episode IV - A New Hope,(1977)
321,356,Comedy Drama Romance War,Forrest Gump,(1994)
644,780,Action Adventure Sci-Fi Thriller,Independence Day (a.k.a. ID4),(1996)
1019,1265,Comedy Fantasy Romance,Groundhog Day,(1993)
1024,1270,Adventure Comedy Sci-Fi,Back to the Future,(1985)
427,480,Action Adventure Sci-Fi Thriller,Jurassic Park,(1993)
3419,4306,Adventure Animation Children Comedy Fantasy Ro...,Shrek,(2001)
966,1210,Action Adventure Sci-Fi,Star Wars: Episode VI - Return of the Jedi,(1983)
266,296,Comedy Crime Drama Thriller,Pulp Fiction,(1994)

# 유사 평점 + 관련 장르

In [16]:
gen = CountVectorizer(ngram_range=(1,2)).fit_transform(new_movies['genres'])

In [17]:
gen_arr = gen.toarray()
gen_arr = pd.DataFrame(gen_arr,index = new_movies['movieId'])

In [18]:
# gen_arr = gen.toarray()
# 추천해준 영화가 제시된 영화와 장르가 유사한가
def find_sim(data,title_name,movieId_data,data2,func = cos_sim):
    try:
        pers =[0.7,0.4]
        for i in pers:
            list_ratings = cos_sim(data2,title_name,new_movies,i)
            list_gens = cos_sim(data,title_name,new_movies,i)
            show_recom_ratings_gen =pd.DataFrame([],columns = new_movies.columns)
            for i in list_ratings:
                for j in list_gens:
                    if i[1] == j[1]:
                        show_recom_ratings_gen = show_recom_ratings_gen.append(new_movies[new_movies['movieId'] == i[1]])
            if show_recom_ratings_gen.size != 0:
                return show_recom_ratings_gen
                break
        if show_recom_ratings_gen.size == 0:
            return 'similarity under 0.4'        
    except Exception as e:
        print('오류',e)

In [19]:
# 'xXx: State of the Union','Box, The','Toy Story','Jumanji'
find_sim(gen_arr,test_m[3],new_movies,movie_data)

,movieId,genres,title,years
527,595,Animation Children Fantasy Musical Romance IMAX,Beauty and the Beast,(1991)
137,158,Adventure Children,Casper,(1995)

In [20]:
# 유저 아이디 입력시 유사 유저가 본 영화 추천

In [21]:
user_matrix= data.pivot_table('rating',index='userId',columns='movieId').fillna(0)
user_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
669,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
670,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
671,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
cos_user = cosine_similarity(user_matrix,user_matrix)

In [25]:
user_df= pd.DataFrame(cos_user,index = user_matrix.index,columns = user_matrix.index)

In [24]:
user_id = int(input('유저 검색 시 다른 유저가 봤던 영화 추천')) # 검색 유저는 보지 않은 것들만 추천

recom_user = user_df.loc[user_id,:][user_df.loc[user_id,:] > 0].sort_values()[::-1][1:6].index # 5명 추천
reco_movie_df = pd.DataFrame([],columns=new_movies.columns)

list_recom_movie =[]
list_recom_movie.extend(user_matrix.loc[user_id,:][user_matrix.loc[user_id,:] > 0].index.values)

for i in recom_user:
    for j in user_matrix.loc[i][user_matrix.loc[i] > 4].index.values: # 평점 4점 이상:
        if j not in list_recom_movie:
            list_recom_movie.append(j)
            reco_movie_df = reco_movie_df.append(new_movies[new_movies['movieId'] == j])
reco_movie_df

,movieId,genres,title,years
302,337,Drama,What's Eating Gilbert Grape,(1993)
284,318,Crime Drama,"Shawshank Redemption, The",(1994)
20,21,Comedy Crime Thriller,Get Shorty,(1995)
31,32,Mystery Sci-Fi Thriller,Twelve Monkeys (a.k.a. 12 Monkeys),(1995)
282,316,Action Adventure Sci-Fi,Stargate,(1994)
294,329,Adventure Drama Sci-Fi,Star Trek: Generations,(1994)
384,435,Comedy Sci-Fi,Coneheads,(1993)
526,594,Animation Children Drama Fantasy Musical,Snow White and the Seven Dwarfs,(1937)
5,6,Action Crime Thriller,Heat,(1995)
15,16,Crime Drama,Casino,(1995)
101,111,Crime Drama Thriller,Taxi Driver,(1976)
202,230,Drama Thriller,Dolores Claiborne,(1995)
498,555,Crime Thriller,True Romance,(1993)
535,608,Comedy Crime Drama Thriller,Fargo,(1996)